body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #6699cc;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}



main {
    max-width: 960px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #cce5ff;
    border-radius: 5px;
}

tbody tr td{background-color: #a3c9ee;
    padding: 10px;
    border: 5px solid #88a4f1;
    }
thead th {
    background-color: #6699cc;
    color: white;
    padding: 10px;
}
input {
    background-color: #ddebfa;
    border: 2px solid#9cc8f1;
    border-radius: 10px;
}

select option{
    background-color: #ddebfa;
    border: 1px solid#9cc8f1;
}

textarea{

    background-color: #ddebfa;
    border: 1px solid#9cc8f1;
}

button{

    background-color: #78b7fa;
    border: 2px solid#ffffff;
    
    color:#ffffff

}
footer{
    background-color: #ddebfa;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}
footer p {
    
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

/* Media Queries for Mobile Optimization */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the left */
    }

    main {
        max-width: 100%; /* Adjust to occupy almost full width */
        padding: 10px;
    }

    section {
        padding: 5px;
        /* Reduce padding for smaller screens */
    }

    tbody tr td {
        padding: 5px;
         /* Reduce padding */
    }

    thead th {
        font-size: 14px; /* Reduce font size */
    }

    input, textarea {
        width: 100%; /* Make input fields full width */
        box-sizing: border-box;
    }

    button {
        width: 100%; /* Make buttons full width */
    }

    footer {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the left */
        padding: 10px;
    }
}

/* Media Queries for Larger Screens */
@media screen and (min-width: 800px) {
    header {
        max-width: 960px;
    }
  }
  @media screen and (max-width: 400px) {
    header {
        max-width: 400px;
    }
    main{
        max-width: 400px;
  }
}


